.sidebar{ 
    background-color: rgb(252, 251, 251); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   overflow:auto;
   scrollbar-width: none;

& .uper,& .down{
   padding: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
   // height: 50%;
   border: 1px solid rgb(243, 243, 243);
  
   & .heading{
display:  flex;
justify-content: space-between;
   }
   & .list_container{
     height: 100%;
    display:flex;
    flex-direction: column;
       // width: 100%;
    
    & img{
        width: 12%;
        border-radius: 50px;       

    }
    & li{
        // border: 1px solid gray;
        // box-shadow: rgba(201, 197, 197, 0.74) 0px 1px 2px 0px, rgba(204, 215, 218, 0.425) 0px 1px 3px 1px;
        display: flex;
         align-items: center;
        padding: 0.4rem 0rem;
          & p{            
           margin-left: 1rem;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;        
         }
    }
  


       & button{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        width: 80%;
        padding: 0.4rem ;
        border-radius: 40px;
        font-size: large;
        transition: ease-in-out 1s;
        border: none;
        background-color: aliceblue;
       } 
       & button:hover{
        background-color: green;
        color: white;
        transform: scale(1.021);
        
       }
    
  }
   
}

}