.sidebar{ 
 
 
& .uper{
    width: 100%;
    border: 1px solid gray;
    height: 50%;
 
}
& .down{

    border: 1px solid gray;
   height: 50%;
   padding: 0.3rem;
   & .list_container{
    border: 1px solid gray;
    display:block;
    width: 100%;
    & img{
        width: 20%;
        border-radius: 50px;
        

    }
    & li{
        border: 1px solid gray;
        display: flex;
        align-items: center;
         padding: 0rem 0.5rem;
    }
  }
   
}

}